html {
	margin: 0;
	border: 0;
	padding: 0;
	width: 100%;
	height: auto;
	min-width: 480px;
	overflow-x: visible;
	overflow-y: auto;
	font-size: 20px;
}

@media (max-width: 767px) {
	html {
		/*font-size: 50px;*/
	}
}

body {
	box-sizing: border-box;
	margin: 0;
	border: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#root {
	box-sizing: border-box;
	margin: 1rem;
	border: 0;
	padding: 0;
	width: calc(100% - 2rem);
	height: calc(100% - 2rem);
}

.main {
	box-sizing: border-box;
	margin: 0;
	border: 0;
	padding: 0;
	width: 100%;
}

.title {
	margin: 2rem 1rem;
	border: 0;
	padding: 0;
	font-size: 2rem;
}

.search-room {
	margin: 2rem;
	border: 0;
	padding: 0;
	width: 25rem;
}

.map {
	box-sizing: border-box;
	display: grid;
	margin: 2rem 1rem;
	border: 0;
	padding: 0;
	width: calc(100% - 2rem);
}

.block-switcher {
	margin: 0;
	border: 0;
	padding: 0;
	min-width: 100%;
	max-width: 100%;
	grid-column: 1;
	border-radius: 1rem 1rem 0 0;
}

.block-switcher-tabs {
	margin: 0;
	border: 0;
	padding: 0;
	background-color: rgb(184, 255, 255);
}

.floor-switcher {
	display: flex;
	margin: 0;
	border: 0;
	padding: 0;
	width: max-content;
	max-width: 100%;
}

.floor-switcher-box {
	margin: 0;
	border-right: 1px solid rgb(80, 80, 80, 0.25);
	padding: 0;
	overflow: hidden;
}

.floor-switcher-box-hidebutton {
	display: flex;
	justify-content: flex-end;
	margin: 0;
	border: 0;
	padding: 0.5px;
}

.floor-switcher-tabs {
	margin: 0;
	border-right: 1px solid rgb(80, 80, 80, 0.25);
	padding: 0;
	min-width: max-content;
	font-size: small;
}

.floor-switcher-makemap {
	flex-grow: 1px;
	align-items: flex-start;
	margin: 0;
	border: 0;
	padding: 2px;
}

.make-map {
	margin: 0;
	border: 0;
	padding: 2rem;
	width: 100vw;
	height: calc(100svh - 4rem);
	max-width: 100%;
	max-height: 100vw;
	box-sizing: border-box;
}
